{% extends 'base.html' %}
{% load static %}

{% block title %}Update Profile{% endblock %}

{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Update Profile</title>
    <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block logout %}
<li class="dropdown"><a href="#"><span>Logged in as: {{ request.user.get_short_name }}</span> <i class="bi bi-chevron-down"></i></a>
    <ul>
        <li><a href="{% url 'profile_update' %}">Update profile</a></li>
        <li><a href="{% url 'home' %}">Logout</a></li>
    </ul>
</li>
{% endblock %}

{% block content %}
<main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
  <div class="container">
    <div class="card login-card">
      <div class="row no-gutters">
        <div class="card-body">
          
          
        
            <p class="login-card-description">Check your profile before submitting</p>
          <form method="POST">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {% for field in form %}
              <div class="form-group">
                  {{ field.errors }}
                  {{ field.label_tag }} {{ field }}
                  {% if field.help_text %}
                  <p class="help">{{ field.help_text|safe }}</p>
                  {% endif %}
              </div>
            {% endfor %}
            <input name="postjob" id="postjob" class="btn btn-dark btn-sm" type="submit" value="Update">
            <button class="btn btn-dark btn-sm"><a href="../" style="color: white">Return to home</a></button>
          </form>
          
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}