{% extends 'base.html' %}
{% load static %}

{% block title %}MedLink | Home{% endblock %}


{% block head %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
<main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
    <div class="container">
      <div class="card login-card">
        <div class="row no-gutters">
            <div class="card-body">
                <p class="login-card-description">Welcome to MedLink Recruiting Portal!</p>
                <p>Here are all of your posted jobs. Post a new job <a href="post_job/"><b>here</b></a>.</p>
                {% csrf_token %}
                <h5>All jobs</h5>
                {% if existingJob is None %}
                <p>You haven't posted any jobs.</p>
                {% else %}
                <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Job Name</th>
                        <th scope="col">Job Type</th>
                        <th scope="col">On call</th>
                        <th scope="col">Location</th>
                        <th scope="col">Hospital Name</th>
                        <th scope="col">Hospital Type</th>
                        <th scope="col">Start Date</th>
                        <th scope="col">End Date</th>
                        <th scope="col">Supervision</th>
                        <th scope="col">Locum Shifts</th>
                        <th scope="col">Experience Level</th>
                        <th scope="col">Payment Type</th>
                        <th scope="col">Benefits</th>
                        <th scope="col"># of people applied</th>                        
                        <th scope="col">Actions</th>
                      </tr>
                    </thead>
                    {% for job in existingJob %}
                    <tbody>
                        <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ job.job_name }}</td>
                        <td>{{ job.job_type }}</td>
                        <td>{{ job.job_on_call }}</td>
                        <td>{{ job.job_location_zipcode }}</td>
                        <td>{{ job.job_location_hospital }}</td>
                        <td>{{ job.hospital_type }}</td>
                        <td>{{ job.job_start_time }}</td>
                        <td>{{ job.job_end_time }}</td>
                        <td>{{ job.job_supervision }}</td>
                        {% if job.job_type == "Locum" %}
                            <td>{{ job.locum_shift_day }} days / week, {{ job.locum_shift_hour }} hours / day</td>
                        {% else %}
                            <td>None</td>
                        {% endif %}
                        <td>{{ job.job_experience }}</td>
                        <td>{{ job.job_payment }}</td>
                        <td>Vacation: {{ job.job_vacation }}, Education: {{ job.education_money }}</td>
                        <td>0</td>
                        <td><a href="delete/{{ job.id }}"><b>Delete</b></a>
                            <a href="update/{{ job.id }}"><b>Modify</b></a>
                            <a href="delete/{{ job.id }}"><b>View Profile</b></a>
                        </td>
                        </tr>
                    </tbody>                    
                    {% endfor %}
                </table>
                {% endif %}
            </div>
        </div>
      </div>
    </div>
</main>


{% endblock %}
