{% extends 'base.html' %}

{% load static %}

{% block title %}MedLink | Home{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
<main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
    <div class="container">
        <div class="card login-card">
            <div class="row no-gutters">
                <div class="card-body">
                    <p class="login-card-description">Welcome to MedLink!</p>
                    <p>Here are your job recommendation based on your preferences. Edit your preferences <a
                            href="preference/"><b>here</b></a>.</p>
                    {% csrf_token %}
                    <div class="container">
                        <div class="row">
                            {% if job_rec is None %}
                            <p>There hasn't been any jobs available currently. Please check back later.</p>
                            {% else %}

                            {% for job in job_rec %}
                            <!-- <div class="col-md-6 mt-4 mt-md-0">
                                <div class="icon-box">
                                  <i class="bi bi-card-checklist"></i>
                                  <h4><a href="#">{{ job.job_name }}</a></h4>
                                  <p>{{ job.job_type }}</p>
                                  <p>{{ job.job_location_hospital }} | {{ job.job_location_zipcode }}</p>
                                </div>
                            </div> -->
                            <div class="col" style="min-width: 300px;">
                                <div class="card" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
                                                        transition: 0.3s;
                                                        border: none;">
                                    <div class="card-body">
                                        <h5 class="card-title"><b>{{ job.job_name }}</b></h5>
                                        <h6 class="card-subtitle mb-2 text-muted">{{ job.job_type }}</h6>
                                        <p class="card-text">{{ job.job_location_hospital }} | {{ job.job_location_zipcode }}</p>
                                        <a href="job_details/{{ job.id }}" class="card-link">View Details</a>
                                        <a href="#" class="card-link">Mark as interested</a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</main>


{% endblock %}