{% extends 'base.html' %}
{% load static %}

{% block title %}MedLink | Home{% endblock %}


{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block logout %}
<li class="dropdown"><a href="#"><span>Logged in as: {{ request.user.get_short_name }}</span> <i class="bi bi-chevron-down"></i></a>
    <ul>
        <li><a href="{% url 'profile_update' %}">Update profile</a></li>
        <li><a href="{% url 'home' %}">Logout</a></li>
    </ul>
</li>
{% endblock %}

{% block content %}
<main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
    <div class="container">
      <div class="card login-card">
        <div class="row no-gutters">
            <div class="card-body">
                <p class="login-card-description">Welcome to MedLink Recruiting Portal!</p>
                <p>Here are all of your posted jobs. Post a new job <a href="post_job/">here</a>.</p>
                <form method="POST">
                    {% csrf_token %}
                    <h5>All jobs</h5>
                    {% if existingJob is None %}
                    <p>You haven't posted any jobs.</p>
                    {% else %}
                        {% for job in existingJob %}
                            <h6 class="card-title m-0">Job Name: {{ job.job_name }}</h6>
                            <h6 class="card-title m-0">Job Level: {{ job.job_level }}</h6>
                            <h6 class="card-title m-0">Job Description: {{ job.job_description }}</h6>
                            <h6 class="card-title m-0">Job Location: {{ job.job_location_hospital }}</h6>
                            <h6 class="card-title m-0">Number of people applied: </h6>
                            <br>
                        {% endfor %}
                    {% endif %}
                </form>
            </div>
          </div>
      </div>
    </div>
</main>


{% endblock %}
