{% extends 'base.html' %}
{% load static %}

{% block title %}MedLink | Home{% endblock %}


{% block head %}
<link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
<main class="align-items-center" style="margin-top:100px">
    <div class="container mb-4">
        <h5>This is the your public profile page that recruiters would view when reviewing your application.</h5>
        <div class="card" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
                            transition: 0.3s;
                            border: none;">
            <div class="card-body">
                <h5 class="card-title"><b>{{ profile.name }}</b></h5>
                <h6 class="card-subtitle mb-2 text-muted">Education: {{ profile.education }}</h6>
                <p class="card-text">Certifications: {{ profile.certifications }}</p>
                <p class="card-text">Provider Type: {{ profile.provider_type }}</p>
                <p class="card-text">Peer Reference: {{ profile.peer_references }}</p>
                <p class="card-text">CPR Certifications: {{profile.cpr_certifications}}</p>
                <a href=""><b>Edit</b></a>
                <a href=""><b>Return to Home</b></a>
            </div>
        </div>
    </div>
</main>

{% endblock %}